.arial_bold_28_white_ld5 {
	font-family: Arial;
	font-size: 28px;
	font-weight:bold;
	color: #FFFFFF;
	leading:120%;
}

.arial_bold_28_white {
	font-family: Arial;
	font-size: 28px;
	font-weight:bold;
	color: #FFFFFF;
}

.arial_bold_25_white {
	font-family: Arial;
	font-size: 25px;
	font-weight:bold;
	color: #FFFFFF;
}

.arial_bold_28_white_center {
	font-family: Arial;
	font-size: 28px;
	font-weight:bold;
	color: #FFFFFF;
	text-align:center;
}

.arial_bold_25_dark_grey {
	font-family: Arial;
	font-size: 25px;
	font-weight:bold;
	color: #333333;
}

.arial_bold_25_dark_grey_ls_0 {
	font-family: Arial;
	font-size: 25px;
	color: #333333;
	font-weight:bold;
	leading:100%;
}

.arial_bold_20_white {
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	color: #FFFFFF;
	
}

.arial_bold_19_white_ld5 {
	font-family: Arial;
	font-size: 19px;
	font-weight:bold;
	color: #FFFFFF;
	letter-spacing:-0.25;
	leading:170%;
}

.arial_bold_19_light_grey {
	font-family: Arial;
	font-size: 19px;
	font-weight:bold;
	color: #666666;
}

.arial_bold_19_white_center {
	font-family: Arial;
	font-size: 19px;
	font-weight:bold;
	color: #FFFFFF;
	text-align:center;
	vertical-align:middle;
}

.arial_bold_19_white {
	font-family: Arial;
	font-size: 19px;
	font-weight:bold;
	color: #FFFFFF;
}

.arial_bold_18_light_grey {
	font-family: Arial;
	font-size: 18px;
	font-weight:bold;
	color: #666666;
}

.arial_35_dark_grey {
	font-family: Arial;
	font-size: 25px;
	color: #333333;  
}

.arial_35_white {
	font-family: Arial;
	font-size: 25px;
	color: #FFFFFF;
}

.arial_25_dark_grey {
	font-family: Arial;
	font-size: 25px;
	color: #333333;
}

.arial_26_#313132_center{
	font-family: Arial;
	font-size: 26px;
	color: #333333;
	text-align:center;
}

.arial_25_white {
	font-family: Arial;
	font-size: 25px;
	color: #FFFFFF;
}

.arial_24_white_center {
	font-family: Arial;
	font-size: 24px;
	color: #FFFFFF;
	text-align:center;
}

.arial_24_white_center_middle {
	font-family: Arial;
	font-size: 24px;
	color: #FFFFFF;
	text-align:center;
	vertical-align:middle;
}

.arial_24_white_center_bottom {
	font-family: Arial;
	font-size: 24px;
	color: #FFFFFF;
	text-align:center;
	vertical-align:top;
}

.arial_23_dark_grey {
	font-family: Arial;
	font-size: 25px;
	color: #333333;
}

.arial_23_white {
	font-family: Arial;
	font-size: 25px;
	color: #FFFFFF;
}

.arial_22_dark_grey_center {
	font-family: Arial;
	font-size: 22px;
	color: #333333;
	text-align:center;
}

.arial_22_dark_grey_left {
	font-family: Arial;
	font-size: 22px;
	color: #333333;
	text-align:left;
}

.arial_22_white {
	font-family: Arial;
	font-size: 22px;
	color: #FFFFFF;
	text-align:center;
}

.arial_20_dark_grey {
	font-family: Arial;
	font-size: 20px;
	color: #222222;
}

.arial_18_white {
	font-family: Arial;
	font-size: 18px;
	color: #FFFFFF;
}

.arial_18_dark_grey_left {
	font-family: Arial;
	font-weight:normal;
	font-size: 18px;
	color: #222222;
	text-align:left;
}

.arial_17_white_left {
	font-family: Arial;
	font-size: 17px;
	text-align:left;
	color: #FFFFFF;
}

.arial_16_white_center {
	font-family: Arial;
	font-size: 16px;
	text-align:center;
	color: #FFFFFF;
}

.arial_14_white_center {
	font-family: Arial;
	font-size: 14px;
	text-align:center;
	color: #FFFFFF;
}

.arial_13_white_center {
	font-family: Arial;
	font-size: 13px;
	color: #FF0000;
	text-align:center;
	
}

